<p>Hello from Angular app</p>
<!-- <sandbox></sandbox> -->
<!-- <datatype></datatype> -->

<!-- <objectninterface></objectninterface> -->

<!-- <templateExample></templateExample> -->
<!-- <loopexample></loopexample> -->
<!-- <conditional></conditional> -->
<!-- <propertyBinding></propertyBinding> -->
<!-- <classBindingExample></classBindingExample> -->
<!-- <stylebindingexample></stylebindingexample> -->
<!-- <pipes></pipes> -->
<!-- <mouseevent></mouseevent> -->
<!-- <mouseeventschangeproperties></mouseeventschangeproperties> -->
<!-- <keyboardevents></keyboardevents> -->
<!-- <ngmodelexample></ngmodelexample> -->
<!-- <ngmodelexamplewithformsubmit></ngmodelexamplewithformsubmit> -->

<!-- <templatedrivenforms></templatedrivenforms> -->

<!-- <servicetesting></servicetesting> -->
<!-- <observableexample></observableexample> -->

<!-- <httpgetexample></httpgetexample> -->

<!-- <httppostexample></httppostexample> -->

<app-navbar></app-navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>



